<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onSatrtTraining(f)" #f="ngForm" >
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        Time to start a workout !
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field appearance="fill" *ngIf="!(isLoading$ | async) && newExecires">
          <mat-label>Cars</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option *ngFor="let exe of newExecires" [value]="exe.id">
              {{ exe.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
        <button *ngIf="newExecires" type="submit" mat-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!newExecires" type="button" mat-button (click)="fetchingExercises()">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
